@import "./global-styles/main";

.Header {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;

  height: 50px;
  width: 100%;

  padding: 0 0;

  font-family: $logo-font;
  font-size: 24px;
  font-weight: bold;
  color: $on-secondary;
  text-transform: uppercase;

  background: $highlight;

  cursor: pointer;

  @media print {
    display: none !important;
  }

  a {
    display: inline-block;
    color: $primary;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: $on-primary-light;
  }
}